################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
*.cs
/1_AspDotNetCSharp/Phu_NET/Phu_NET/obj/Debug/Phu_NET.csproj.AssemblyReference.cache
