################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
/1_AspDotNetCSharp/Phu_NET/Phu_NET/obj/Debug/Phu_NET.csproj.AssemblyReference.cache
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/config/applicationhost.config
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/FileContentIndex/3d629452-30a4-4f2e-ac99-22c7da96a091.vsidx
*.vsidx
/1_AspDotNetCSharp/Phu_NET/Phu_NET/bin/Phu_NET.dll
/1_AspDotNetCSharp/Phu_NET/Phu_NET/bin/Phu_NET.pdb
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/v17/DocumentLayout.json
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/v17/.suo
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/FileContentIndex/40e99e36-06d7-4af7-a356-e706e741c7f0.vsidx
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/FileContentIndex/8cabbfd1-007e-4d66-8d4d-678165a5a263.vsidx
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/FileContentIndex/bc9ed8f1-7024-4901-b8ed-dfa8b9b77b35.vsidx
/1_AspDotNetCSharp/Phu_NET/.vs/Phu_NET/FileContentIndex/f6cb51e6-c2d3-46f4-90e7-cffcb49ce836.vsidx
/1_AspDotNetCSharp/Phu_NET/Phu_NET/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/1_AspDotNetCSharp/Phu_NET/Phu_NET/obj/Debug/Phu_NET.csproj.FileListAbsolute.txt
/1_AspDotNetCSharp/Phu_NET/Phu_NET/obj/Debug/Phu_NET.csproj.CoreCompileInputs.cache
/1_AspDotNetCSharp/Phu_NET/Phu_NET/obj/Debug/Phu_NET.dll
/1_AspDotNetCSharp/Phu_NET/Phu_NET/obj/Debug/Phu_NET.pdb
/1_AspDotNetCSharp/Phu_NET/Phu_NET/Phu_NET.csproj.user
